  *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }

body{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* 
colors hex
dark blue : #173A76 , rgb(23,58,118) ******** prime
slightly brighter : #2E4D83 , rgb(46,77,131)

almost white : #d9d9d9 
gray : #f8f9fa ******** prime
input text :#172641 (23,38,65) 


yellow :rgb(228, 199, 11) ******** prime 
yellow in dark background :#CDB309

*/
.about-content{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #173A76;
    font-family: sans-serif;
    font-size: 20px;
}
body{
  background-image:  url(../images/bg-image.png);
  

background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;


}
span{

    font-weight: 900 ;
}
.lengo{
    color: rgb(228, 199, 11);
}
.about-section{
    padding: 10px;
    margin: 50px;
}
h1{
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #173A76;
}
a{
    text-decoration: none;
    
}
ul{
    list-style: none;
    
}
#logo-img{
  margin-top: -8px;
  border-radius: 100px;
  height: 40px;

}

.bar{
   
    top: 0;
    left: 0;
    position:relative;
    background: #2E4D83;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    padding: 20px;
    color: black;
   
}
a{
  text-decoration: none;
}
.bar a{
  color:white;
}
.bar a:hover{
  text-decoration: none;
  color:rgb(144, 155, 164);
}

.links{
  display: flex;
  align-items: center;

}
.bar a:hover{
color: rgb(144, 155, 164);
}

.links li:hover{
  
  margin: 0 30px;
}
.ctn{
  padding:8px 15px ;
  background:rgb(228, 199, 11) ;
  border-radius: 20px;
  color: whitesmoke;
 
}
 .ctn:hover{
  color: rgb(144, 155, 164);
 }  
header{
    width: 100vw;
    height: 40vh;
   
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.header-content{
    
    margin: 100px;
    color: #173A76;
    text-align: center;
}

.line{
    width: 150px;
    height: 4px;
    background: rgb(228, 199, 11);
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 50px;
   margin-top: 50px;
   margin-bottom: 30px;

}
.title{
font-size: larger;
    font-weight: 600;
}

.about-conteniar{
align-content: center;
background-color: #ffffff00;
width: 100%;
justify-content: center;
display: flex;
margin-bottom: 100px;

}
.about-conteniar-card{
    background-color: #ffffff8e;
    border-radius: 30px;
    justify-content: center;
    display: flex;
    width: 60%;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1);

}
.links{
    display: flex;
    align-items: center;
  
}


.links li{
    margin: 0 30px;
}
.join{
    padding:8px 15px ;
    background:rgb(228, 199, 11) ;
    border-radius: 30px;
    color: #d9d9d9;
   
}
.join-us{
    background:rgb(228, 199, 11) ;
   padding: 7px 150px;
    border-radius: 30px;
    color: #173A76;
    font-weight: 600;
    font-size: 30px;
}

.service{
    width: 100vw;
    height: 100vh;
    margin: 30px;
    background-size: cover;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.col{
   
    flex-basis: 31%;
    background: rgb(23, 58, 118);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .3 ;
}
.col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
h3{
    color: whitesmoke;
    font-size: medium;
    text-align: center; 
    margin: 10px 0;
}

.required{
    color:red;
}
footer{
    
    padding: 0;
    position: relative ;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(23, 58, 118) ;
   
    font-family:  sans-serif;
  
    /* text color */
    color: #d9d9d9;
   
  }
  .main-content{ 
    display: flex;
  
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #2E4D83
    
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #CDB309;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #2E4D83;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    color: #d9d9d9;
  }
  .left .content .social a span:hover{
    background: #CDB309;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: #2E4D83;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  /* icon hover */
  .center .content .fas:hover{
    background: #CDB309;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #d9d9d9;
    
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #d9d9d9;
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid #2E4D83;
    color: #172641;
  
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
    border-radius: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #CDB309;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
  }
  .right form .btn button:hover{
    background: #2E4D83;
  }
  .bottom section{
    padding: 5px;
    font-size: 0.9375rem;
    background: #2E4D83;
  }
  .bottom section span{
    color: #656565;
  }
  .bottom section a{
    color: #CDB309;
    text-decoration: none;
  }
  .bottom section a:hover{
    text-decoration: underline;
  }
  
  .find-more{
  text-decoration: none;
  color: #CDB309;
  
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }
