*{  font-family: sans-serif;}

.que h1{
    
    position:relative;
    background: rgb(23, 58, 118);
    padding: 50px 150px;
    font-size: medium;
    text-align: center;
    color:white; 
    top: 2cm;
}
.que h2{


    position:relative;
    background: rgb(23, 58, 118);
    padding: 50px 150px;
    font-size: medium;
    text-align: center;
    color:white; 
    top: 4cm;
    
}
.backg{
  
    background-image: url(../images/bg-image.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;

   }
