.que h1{
    
    position:relative;
    background: rgb(23, 58, 118);
    padding: 50px 150px;
    font-size: medium;
    text-align: center;
    color:rgb(228, 199, 11); 
    top: 2cm;
}
.que h2{


    position:relative;
    background: rgb(23, 58, 118);
    padding: 50px 150px;
    font-size: medium;
    text-align: center;
    color:rgb(228, 199, 11); 
    top: 4cm;
    
}
