h1{
    
    position:relative;
    background: rgb(23, 58, 118);
    padding: 50px 150px;
    font-size: medium;
    text-align: center;
    color:rgb(228, 199, 11); 
    top: 3cm;
}






h2{


    position:relative;
    background: rgb(23, 58, 118);
    padding: 50px 150px;
    font-size: medium;
    text-align: center;
    color:rgb(228, 199, 11); 
    top: 6cm;
    
}
