.backg{
  
    background-image: url(bb.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;

   }

h1 {
    position:relative;
    text-align: center;
    padding: 2cm;
    color: rgb(23, 58, 118);

}


.rate{
 
color: #173A76;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 flex-basis: 40%; 
 background: rgb(23, 58, 118);
 font-size: medium;
 text-align: center;
 border-radius: 30px;
 position: relative;
 
 
    
}


.rate img{

    flex: 10%;
    width: 10%;
    height: 10%;
    margin-right: 5px;
    border-radius: 100%;
    margin: 0px;
}

.link{
    color:white
}
.rating h2{
    position:relative;
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);    
}
.pp p{
    position:relative;
    text-align: center;
    padding: 2cm;
    color: rgb(255, 255, 255);  
    align-items: center;  
    font-family: sans-serif;

}
button {
    
    background-color: #CDB309;
    border: none;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}

.stars {
    font-size: 30px;
    text-align: center;
}
.rating {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
   
}
.tea textarea {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    font-family: sans-serif;

}
.reviews {
    margin-top: 20px;
    text-align: left;
  
}

 
.review p {
    margin: 0;
  font-family: sans-serif;

}
.last p {
    position:relative;
    text-align: center;
    color: rgb(23, 58, 118);
     font-family: sans-serif;


}


ul{
    list-style: none;
}
.bar{
   
    top: 0;
    left: 0;
    position:fixed;
    background: linear-gradient(rgba(106, 137, 237, 0.6),transparent);  
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
   
}
.bar ul li .link{
    color:rgb(23, 58, 118);  
          font-family: sans-serif;

}
.links{
    display: flex;
    align-items: center;  
        

}


.links li{
    margin: 0 30px;
    font-family: sans-serif;

}
.stars p{
    color:  #CDB309;
    font-family: sans-serif;

}
