
main{
    padding: 50px;
    padding-top: 90px;
    background-color: #d9d9d9;
     /*we may delete this if we put in the footer*/
}




#new-req-header{
    margin-bottom: 20px;
}

.new-request_div, .past-request_div{
    background-color: #173A76;
    width: 100%;
    padding: 20px;
    margin: 10px;
    margin-left: 1px;
    border-radius: 30px;
    overflow: hidden;
    color: #d9d9d9;
    
}

.past-request_div{
  margin-bottom: 20px;
  margin-top: 20px;
}

.input-box{
    padding: 2px;
    border-radius: 8xp;
    width: 160px;
    height: 30px;
}

form{
    margin-bottom: 15px;
}



.result_carousel{
    background-color: rgb(253, 253, 253);
    padding: 50px 0;
    overflow-x: auto;
    white-space: wrap;
    display: inline-block;
    
  }
  .result-cell {
    background-color: #d9d9d9;
    color: black;
    white-space: wrap;
    border-radius: 10px;
    display: inline-block;
    width: 300px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);
    margin: 10px;
    
  }
  .acc-info{ /*used for both request posting and status cards*/
    display: flex;
    margin: 10px;
  }

  .more-info{
    display: block;
    flex: 70%;
    margin-top: 7px;
    margin-left: 5px;
  }

  #categories{
    color: #aaaaaa;
  }

  
 
  .result-img {
    flex: 20%;
    width: 20%;
    height: 20%;
    margin-right: 5px;
    border-radius: 100%;
  }

  .result{
    background-color: #2E4D83;
    border-radius: 10px;
    overflow-x: auto;
    white-space: nowrap;
  }
  .result::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.result::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background-color:rgba(217, 217, 217, 0.678) ;
    visibility: hidden;
}
.result:hover::-webkit-scrollbar-thumb{  
    visibility: visible;
}
  

   #result-header{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  

  .accept-req-btn button, .reject-req-btn button{
    background-color: #CDB309;
    border: none;
    padding: 5px;
    border-radius: 20px;
    width: 100px;
    margin: auto;
  }

  .accept-req-btn, .reject-req-btn{
    display: inline-block;
    text-align: center;
  }

  .accept-req-btn button{
    background-color: rgb(82, 123, 82);
    color: #d9d9d9;
  }
  .accept-req-btn button:hover{
    background-color: rgb(59, 91, 59);
}

  .reject-req-btn button{
    background-color: rgb(176, 57, 57);
    color: #d9d9d9;
  }
  .reject-req-btn button:hover{
    background-color: rgb(121, 58, 58);
  }

  .req-options{
    margin-left: 50px;
    margin-bottom: 15px;
  }

  .specifications-div{
    margin: 10px;
    padding: 5px;
  }

  .specifications{
    margin-bottom: 10px;
    padding: 5px;
    

  }

  .level, .language, .duration, .dateAndTime{
    background-color: #cdb3098e;
    border-radius: 10px;
    padding: 5px;
    border-color: #CDB309;
    border: 3px;
    margin: 3px;
    display: inline-block;

  }

  .language, .duration{
    margin-left: 10px;
  }

  .req-final-status{
    text-align: center;
    
    width: 70%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 3px;
  }

  .accepted{
    background-color: rgba(82, 123, 82, 0.51) ;
    font-weight: bold;
    /*color: #cec9c9;*/

  }

  .rejected{
    background-color: rgba(179, 80, 80, 0.514);
    font-weight: bold;
    /*color: #cec9c9;*/
  }